button {
    margin: 10px 10px 0px 0px;
    padding: 8px 40px 8px 40px;
    border: 1px solid $secondary-color;
    background: none;
}

.buy_btn {
    color: $accent-color;
}

.show_btn {
    color: $secondary-color;
}