/* OPDRACHT 1 */
.image {
    height: 800px;
    width: auto;
}

/* OPDRACHT 2 */
.image {
    height: 500px;
    width: auto;
}

/* OPDRACHT 3 */
.image {
    height: 100px;
    width: auto;
}

/* OPDRACHT 4 */
.image {
    height: -100px;
    width: auto;
}

/* OPDRACHT 5 */
.image {
    height: 600px;
    width: auto;
}

/* OPDRACHT 6 */
.image {
    height: 750px;
    width: auto;
}

/* OPDRACHT 7 */
.image {
    height: 30px / 5px;
    width: 24px / 4;
}

/* OPDRACHT 8 */
.image {
    height: 6;
    width: 6px;
}



